<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.plotprojects.coupons"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewCouponActivity"/>
        <receiver android:name="com.plotprojects.retail.android.PlotBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service android:name="com.plotprojects.retail.android.PlotBackgroundService"
                 android:process=":PlotProcess"
                 android:icon="@drawable/icon">
            <meta-data android:name="debug" android:value="true" />
        </service>
        <service android:name="com.plotprojects.coupons.CategoryNotificationFilterReceiver" />
        <receiver android:exported="false" android:name="com.plotprojects.coupons.CouponNotificationOpenReceiver">
            <intent-filter>
                <action android:name="com.plotprojects.coupons.plot.OpenNotification" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
